body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.task-container {
    background-color: #8fd694;
    padding: 20px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
}
#box {
    width: 100px;
    height: 100px;
    border:dashed 2px red;
    margin: 10px auto;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="text"] 
input[type="password"]{
    padding: 5px;
    width: 150px;
}
#categories {
    list-style: none;
    padding: 0;
}
.item h2 {
    margin: 0 0 10px;
}
.item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.widget {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background: #f9f9f9;
}
.color {
    font-weight: bold;
}
.change-color {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#controls {
    margin-bottom: 20px;
}

#controls input {
    width: 60px;
    margin-right: 10px;
}

#controls button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#boxes div {
    display: inline-block;
    border: 1px solid black;
}